{% extends "base.html" %}

{% load static %}

{% block title %}Luigi's{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
  <header class="page-header">
    <div class="header-content">
      <img src="{% static 'images/Leaf.png' %}" alt="leaf" class="header-logo">
      <h1>Luigi's Pizzeria</h1>
      <p class="slogan">#PizzaIdKillFor!</p>
    </div>
  </header>
  
  <section class="order-section">
    <div class="order-content">
      <img src="{% static 'images/rotating-pizza.gif' %}" alt="rotating-pizza" class="rotating-pizza">
      
      <p>As we say in italy: "La qualita sta negli ingredienti". <br>
    Our pizzas are made with only seasonal and locally sourced ingredient.</p>

    {% if user.is_authenticated %}
    <a href="{% url 'create_pizza' %}" class="btn">Create Your Pizza!</a>
  {% else %}
    <a href="{% url 'my_login' %}" class="btn">Come taste the difference!</a>
  {% endif %}
    </div>
  </section>

 <section class="popular-section">
  <div class="popular-content">
  <h1>OUR MOST POPULAR PIZZAS</h1>
  <div class="popular-items">
    <div class="popular-item">
      <img src="{% static 'images/pizza-prosciutto.png' %}" alt="Pizza 1">
      {% if user.is_authenticated %}
        <a href="{% url 'create_pizza' %}?pizza=prosciutto" class="btn-p">ORDER NOW</a>
      {% else %}
        <a href="{% url 'my_login' %}?next={% url 'create_pizza' %}?pizza=prosciutto" class="btn-p">ORDER NOW</a>
      {% endif %}
    </div>
    <div class="popular-item">
      <img src="{% static 'images/salame-piccante.png' %}" alt="Pizza 2">
      {% if user.is_authenticated %}
        <a href="{% url 'create_pizza' %}?pizza=salame" class="btn-p">ORDER NOW</a>
      {% else %}
        <a href="{% url 'my_login' %}?next={% url 'create_pizza' %}?pizza=salame" class="btn-p">ORDER NOW</a>
      {% endif %}
    </div>
    <div class="popular-item">
      <img src="{% static 'images/pizza-toscana.png' %}" alt="Pizza 3">
      {% if user.is_authenticated %}
        <a href="{% url 'create_pizza' %}?pizza=toscana" class="btn-p">ORDER NOW</a>
      {% else %}
        <a href="{% url 'my_login' %}?next={% url 'create_pizza' %}?pizza=toscana" class="btn-p">ORDER NOW</a>
      {% endif %}
    </div>
  </div>
  </div>
  </section>
{% endblock %}