{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}
<div class="register-container">
  <div class="register-header">
      <h1>Register at Luigi's Pizzeria</h1>
  </div>
  <form method="POST" action="{% url 'register' %}" autocomplete="on" class="register-form">
      {% csrf_token %}
      {{ registerform.as_p }}
      <button type="submit" class="btn">Register</button>
  </form>
</div>
{% endblock %}